name: Release partial only synchronization

on:
  schedule:
    - cron: "0 12,16,18,22 * * *"
jobs:
  build:
    runs-on: windows-latest
    env:
      CACHE_PATH: cache

    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Publish
      run: dotnet publish -r win-x64 -c Release -p:PublishAot=false --self-contained true -p:PublishSingleFile=true src/LocalCacheChecker.csproj

    - name: Run synchronization
      run: |
        cp src/bin/Release/net10.0/win-x64/publish/LocalCacheChecker.exe LocalCacheChecker.exe
        ./LocalCacheChecker.exe -releases
        Remove-Item -Path "LocalCacheChecker.exe"
    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v5
